.cover-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2640604/pexels-photo-2640604.jpeg?cs=srgb&dl=pexels-david-gonzales-2640604.jpg&fm=jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: teal;
    /* width: 100%; */
    display: flex;
    flex: 1;
    flex-direction: column;
}

.cover-text-container {
    flex: 1;
    display: flex;
    /* margin-left: 4rem; */
}

.cover-text {
    color: #ffffff;
    flex: 1;
    justify-content: left;
    align-items: flex-end;
    padding-bottom: 8rem;
    /* align-self: end; */
}

.btn-flat {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
  }

.btn-xxl {
    margin-top: 2rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}

.btn-flat:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.jumbotron-fluid {
    background-color: transparent;
    color: white;
    position: absolute;

  }

  @media screen and (min-width: 601px) {
    .cover-text h1 {
        font-size: 3vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    .cover-text h1 {
        font-size: 10vw;
    }
  }